@import "tailwindcss";

.fadeInAnimation{
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
  from{
    opacity: 0;
  }
  to{
    opacity: 100;
  }
}

.appearAnimation {
  animation: appearScale forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appearScale {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.appearAnimationFromLeft {
  animation: appearLeft 1s ease forwards;
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appearAnimationFromRight {
  animation: appearRight 1s ease forwards;
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appearAnimationFromBottom {
  opacity: 0;
  animation: appearBottom 1s ease forwards;
}

@keyframes appearBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appearAnimationFromTop {
  opacity: 0;
  animation: appearTop 1s ease forwards;
}

@keyframes appearTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delayAnimation1s{
  animation-delay: 1s;
}

.underlineAnimation {
  position: relative;
  &::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: underlineAnimation ease forwards;
    transition: width 0.4s ease, left 0.4s ease;
  }

  &:hover::after {
    width: 100%;
  }
}