@import "tailwindcss";

.glasseffect {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.underlineAnimation {
  position: relative;
  &::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: underlineAnimation ease forwards;
    transition: width 0.4s ease, left 0.4s ease;
  }

  &:hover::after {
    width: 100%;
  }
}