@import "tailwindcss";

:root{
  --primary-color: #217b66;
}

@theme{
  --color-primary: var(--primary-color);
  --color-background: #f3f3f3;
}

body{
  background-color: #f3f3f3;
  overflow-x: hidden;
}

